html {
position: relative;
min-height: 100%;
}

body {
background: #FFFFFE;
margin-bottom: 60px;
}

.navbar .nav,
.navbar .nav > li {
float:none;
display:inline-block;
*display:inline; /* ie7 fix */
*zoom:1; /* hasLayout ie7 trigger */
vertical-align: top;
}

.navbar-inner {
text-align:right;
}

.navbar{
background: #0099ff;
min-height: 70px;

}
#buttondiv {
	margin: auto;
	display: block;
	text-align: center;
}

.navbar-brand {
height: 60px;
padding: 20px 10px;
}

.navbar-brand svg{
margin-top: none;
height:50px;
width:160px;
padding-left: 10px;
}

.front_page_title{
padding-bottom: 40px;
color: black;
}

#group_pic,
.text-right,
.text-left{
	padding-bottom: 30px;
}

.button {
height: 40px;
width: 130px;
margin-bottom: 3%;
background-color: #7C8082;
font-size: 100%;
color: white;
font-family: 'Muli', sans-serif;
border-radius: 5px;
border-color: #ffffff;
}

.gridButton {
height: 150px;
width: 30%;
background-color: #3cb53c;
font-size: 100%;
color: white;
border-radius: 5px;
border-color: #6949d7;
margin-top:10px;
text-decoration: none;
font-size: 1.5em;
text-shadow: 2px 2px 5px #111;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.gridButton a {
font-family: 'Muli', sans-serif;
font-weight: bold;
border: 1px solid red;
color: #eee;
}

.gridButton:hover {
background-color: #60cd60;
}

#buttonGrid{
	text-align: center;
}

.footer {
position: absolute;
bottom: 0;
width: 100%;
display: table;
table-layout: fixed;
height: 60px;
background: #0099ff;
}


.footer span {
color:#fff;
float:right;
padding:20px 20px 0 0;
}

@media screen and (max-width: 568px) {
 .footer span {
    font-size: 2.5vw;
    padding:20px 20px
  }
 .footer{
    height:30px;
 }
}
.vcenter {
display: inline-block;
vertical-align: middle;
float: none;
}

.col-sm-0 {
    width: 0px;
    float: left;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    min-height: 1px;
}

.col-sm-3, .col-sm-6, .col-sm-2{
  -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

