<div data-ng-controller="formCtrl"
     class="container"
     id="quiz">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Create a quiz</h1>
        <p>Here you can make your very own Kwiz! How exciting!</p>
      </div>
    </div>

    <!--form-->
    <form class="form-horizontal">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

        <!--Title-->
          <div class="form-group">
            <label class="control-label text-center"
                   for="title">Quiz Title:</label>
            <input type="text"
                   data-ng-model="formquiz.title"
                   class="form-control"
                   id="title"
                   placeholder="What would you like to call your quiz?"/>
          </div>


          <!--question-->
          <div class="form-group">
            <label class="control-label text-center"
                   for="question">Question:</label>
            <input type="text"
                   data-ng-model="formquestion.question"
                   class="form-control"
                   id="question"
                   placeholder="Enter your question here"/>
          </div>

          <!--choices-->
          <div class="form-group" data-ng-repeat="c in formquestion.choices track by $index">
            <label class="control-label text-center"
                   for="choice">Answer <span data-ng-bind="$index + 1"></span>:</label>
            <input type="text"
                   data-ng-model="formquestion.choices[$index].choice"
                   class="form-control"
                   id="choice"
                   placeholder="Enter your answer here" />
          </div>

          <!--radio button-->
          <div class="form-group">
            <fieldset>
              <legend>Correct answer:</legend>
              <label class="control-label text-center" for="answer1">1
                <input type="radio"
                       name="correct"
                       data-ng-model="formquestion.answer"
                       data-ng-value="0"
                       id="answer1"
                       checked="checked"/>
              </label>
              <label class="control-label text-center" for="answer2">2
                <input type="radio"
                       name="correct"
                       data-ng-model="formquestion.answer"
                       data-ng-value="1"
                       id="answer2"/>
              </label>
              <label class="control-label text-center" for="answer3">3
                <input type="radio"
                       name="correct"
                       data-ng-model="formquestion.answer"
                       data-ng-value="2"
                       id="answer3"/>
              </label>
              <label class="control-label text-center" for="answer4">4
                <input type="radio"
                       name="correct"
                       data-ng-model="formquestion.answer"
                       data-ng-value="3"
                       id="answer4"/>
              </label>
            </fieldset>
          </div>

        </div>
      </div>

    <!-- buttons (possible duplication - home.html) -->
      <div class="container">
        <div class="row">
          <div class="col-xs-6 text-right">
            <input type ="button" class="btn btn-primary"
                   data-ng-click="addQuestion()"
                   id="tp_left_button"
                   value="Add Question"/>
          </div>
          <div class="col-xs-6 text-left">
            <input type="submit"
                   class="btn btn-success"
                   id="tp_right_button"
                   value="Done"/>
          </div>
        </div>
      </div>
      <pre>{{formquiz | json}}</pre>
    </form>

  </div>
</div>
