<div data-ng-controller="quizCtrl" class="container">
  <!-- better to use ng-bind than {{ }}
  http://stackoverflow.com/questions/16125872/angularjs-why-ng-bind-is-better-than-in-angular -->
  <h1 data-ng-bind="quiz.title"></h1>
  <p>
    Question <span data-ng-bind="i+1"></span>
    of <span data-ng-bind="quiz.questions.length"></span>
    :<span data-ng-bind="quiz.questions[i].question"></span>
  </p>
  <ul>
    <li data-ng-repeat="c in quiz.questions[i].choices">
      <a href="" data-ng-bind="c.choice" data-ng-click="update($index)"></a>
    </li>
  </ul>
  <p data-ng-show="!running">End of quiz!</p>
  <span data-ng-bind="msg"></span>
  <span data-ng-bind="score"></span>
  <div>
    <button data-ng-show="choicemade" data-ng-bind="btnmsg" data-ng-click="next()"></button>
  </div>
</div>
